@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.hero_section_container{
    display: flex;
    height: 45vh;
    width: 100%;
    margin-top: 15px;
}

.hero_section_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.hero_section_left h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
    font-family: "Anton", sans-serif;
}
.hero_section_left p{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin: 20px;
}
.cta_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 12%;
}
.cta_buttons :nth-child(1){
    height: 100%;
    width: 40%;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.cta_buttons :nth-child(2){
    height: 100%;
    width: 40%;
    background-color: white;
    color: black;
    border: 3px solid black;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 15px;
    cursor: pointer;
}

.hero_section_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 100%;
}
.slideshow{
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slideshow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.images_order{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7%;
    width: 50%;
}
.order{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
.focused_image{
    background-color: black;
}

@media screen and (max-width:1700px) {
    .hero_section_left h1{
        font-size: 2.4rem;
    }
    .hero_section_left p{
        font-size: 1.1rem;
    }
    .cta_buttons{
        width: 40%;
        height: 12%;
    }
}

@media screen and (max-width:1500px) {
    .hero_section_left h1{
        font-size: 2.2rem;
    }
    .hero_section_left p{
        font-size: 1rem;
    }
    .cta_buttons{
        width: 40%;
        height: 10%;
    }
    .cta_buttons :nth-child(1){
        height: 100%;
        width: 40%;
        background-color: black;
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .cta_buttons :nth-child(2){
        height: 100%;
        width: 40%;
        background-color: white;
        color: black;
        border: 3px solid black;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 800;
        border-radius: 10px;
        cursor: pointer;
    }
}


@media screen and (max-width:1500px) {
    .hero_section_left h1{
        font-size: 2.2rem;
    }
    .hero_section_left p{
        font-size: 1rem;
    }
    .cta_buttons{
        width: 40%;
        height: 10%;
    }
    .cta_buttons :nth-child(1){
        height: 100%;
        width: 40%;
        background-color: black;
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .cta_buttons :nth-child(2){
        height: 100%;
        width: 40%;
        background-color: white;
        color: black;
        border: 3px solid black;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 800;
        border-radius: 10px;
        cursor: pointer;
    }
}


@media screen and (max-width: 1100px){
    .hero_section_container{
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero_section_left{
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    .hero_section_container{
    }
    .hero_section_left h1 {
        font-size: 1.5rem;
    }
    .hero_section_left p {
        font-size: 1rem;
    }
    .cta_buttons{
        height: fit-content;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cta_buttons :nth-child(1),.cta_buttons :nth-child(2) {
        width: 40%;
        height: 40px;
        font-size: 0.9rem;
    }
    .cta_buttons :nth-child(1) {
        background-color: black;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .cta_buttons :nth-child(2) {
        background-color: white;
        color: black;
        border: 3px solid black;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        border-radius: 10px;
        cursor: pointer;
    }
}