.fiter_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 4vh;
    width: 80%;
    border: 2px solid #C7C7C7;
    border-radius: 10px;
    margin: 20px;
}
.left_side_filter{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_side_filter div{
    font-family: 'Inter',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    cursor: pointer;
}
.right_side_filter div{
    font-family: 'Inter',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.left_side_filter div img , .right_side_filter div img{
    height: 85%;
    width: 20px;
    align-self: flex-end;
}
.right_side_filter{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}