.Home_Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    width: 100%;
    height: 10vh;
}
.Home_Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
#logo{
    width: 100%;
    height: 100%;
}
.Home_Content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 80%;
}
